.planetSection {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  padding: 100px;

  background-color: #f2f7ff;
}
.planetSection h2 {
  color: #164baf;
  font-size: 32px;

  font-weight: 600;
}
.videoSection p {
  color: #0f2a44;
  font-size: 18px;
  font-weight: 400;
}

.mainContent {
  text-align: center;
  width: 904px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

figcaption {
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  gap: 7px;
  flex-direction: column;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.planetGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .planetSection {
    padding: 40px 24px;
    gap: 24px;
  }

  .planetSection h2 {
    font-size: 28px;
    letter-spacing: -2%;
  }

  .mainContent {
    width: 100%;
    gap: 16px;
  }

  .planetGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  img {
    width: 152px;
    height: 159px;
  }
  .planetSection br {
    display: none;
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 152px;
  }
}
