* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table,
th,
td {
  border: 1px solid;
  padding: 8px;
  text-align: center;
  border-collapse: collapse;
}

body {
  font-family: sans-serif;
}
caption {
  font-weight: bold;
  text-align: left;
}
